// SamplePage.vue
<template>
  <Layout>
    <h1>{{$page.wordPressPage.title}}</h1>
    <div class="page-content" v-html="$page.wordPressPage.content"/>
  </Layout>
</template>

<page-query>
query Page {
  wordPressPage (path: "/pages/sample-page") {
    title
    content
  }
}
</page-query>

<script>
export default {
  metaInfo () {
    return {
      title: this.$page.wordPressPage.title
    }
  }
}
</script>
